# Activer le module de réécriture
RewriteEngine On

# Rediriger toutes les requêtes vers le répertoire public
RewriteCond %{REQUEST_URI} ^/public [NC]
RewriteRule ^public/(.*)$ /$1 [L,R=301]

# Rediriger toutes les requêtes vers le fichier index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]
